Package: morse-ros
Version: 1.0~beta-1~exp1ubuntu2
Architecture: all
Maintainer: MORSE Developers <morse-dev@laas.fr>
Depends: morse-simulator, python3-pip, python3-yaml, ros-fuerte-ros-comm | ros-groovy-ros-comm, ros-fuerte-common-msgs | ros-groovy-common-msgs, ros-fuerte-pr2-common | ros-groovy-pr2-common, ros-fuerte-pr2-controllers | ros-groovy-pr2-controllers
Recommends: morse-simulator-doc
Section: science
Priority: extra
Homepage: http://morse.openrobots.org/
Description: Multi-OpenRobot Simulation Engine, ROS interfaces
 List of morse features:
  * Versatile simulator for generic mobile robots simulation
    (single or multi robots),
  * Realistic and dynamic environments (interaction with other agents like
    humans or objects),
  * Based on well known and widely adopted open source projects (Blender for 3D
    rendering + UI, Bullet for physics simulation, dedicated robotic
    middlewares for communications + robot hardware support),
  * Seamless workflow: since the simulator rely on Blender for both modeling
    and the real time 3D engine, creating and modifying a simulated scene is
    straightforward.
  * Entirely scriptable in Python,
  * Adaptable to various level of simulation realism (for instance the
    simulation of exteroceptive sensors like cameras or a direct access to
    higher level representations of the world, like labeled artifacts),
  * Currently compatible with ROS, YARP and the LAAS OpenRobots robotics
    frameworks,
  * Easy to integrate to other environments via a simple socket interface,
  * Fully open source, BSD license.
